.CarPool {
    float: left;
    width: fit-content;

    border-style: solid;
    border-width: 1px;
    border-color: var(--tile-colour);
    border-radius: 5px;

    padding: 2vw;
    margin: 30px 50px;
}

.CarPool .Title {
    position: absolute;
    background-color: var(--background);
    font-size: 20px;
    transform: translate(30px, calc(-2vw - 12px));
    padding: 0 10px;
}

.CarPool .DoubleWidth {
    display: flex;
}

.CarPool .DoubleWidth div {
    flex: 1;
}

.CarPool .DoubleWidth div:first-child {
    margin-right: 10px;
}

.CarPool .TruckSlots {
    width: fit-content;
    margin: auto;
}
