.CarPool .DoubleWidth {
    display: flex;
}

.CarPool .DoubleWidth div {
    flex: 1;
}

.CarPool .DoubleWidth div:first-child {
    margin-right: 10px;
}

.CarPool .TruckSlots {
    width: fit-content;
    margin: auto;
}
