h1.Title {
    font-size: 50px;
    margin: 0;
}

section {
    float: left;
    width: fit-content;
    position: relative;

    border-style: solid;
    border-width: 1px;
    border-color: var(--tile-colour);
    border-radius: 5px;

    padding: 2vw;
    margin: 30px 0 30px 50px;
}

section .Title {
    position: absolute;
    background-color: var(--background);
    font-size: 20px;
    top: -12px;
    left: 50px;
    padding: 0 10px;
}

section .Title.Right {
    right: 50px;
    left: auto;
}

section .Divider {
    transform: translateX(-2vw);
    width: calc(100% + 4vw);
    height: 1px;
    background-color: var(--tile-colour);
}
